<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<title>kihara</title>

</head>
<body>
	<header>
		<nav class="navbar navbar-light bg-light">
			<a href="./" class="navbar-brand text-dark">
				<h1>KIHARA</h1>
			</a>

		 	 <ul class="navbar-nav">
		 		<td th:if="${loginUser == null }">
			    	<li class="nav-item"><a href="/signUp" class="nav-link d-inline">Signup</a></li>
			    	<li class="nav-item"><a href="/login" class="nav-link d-inline">Login</a></li>
				</td>
		 	</ul>

			<ul class="navbar-nav">
				<td th:if="${loginUser != null }">
				<li class="nav-item"><h3 th:text="${loginUser.name}"></h3></li>
			  	<li class="nav-item"><a href="/new" class="nav-link">newPost</a></li>
			  	<li class="nav-item"><a href="/#" class="nav-link">User</a></li>
			  	<li class="nav-item"><a href="/logout" class="nav-link btn btn-outline-danger px-2">Logout</a></li>
				</td>
			</ul>
		</nav>
	</header>

	<main class="container my-5">
		<div th:each="message : ${messages}" >
			<th:block th:if="${loginUser != null }">
				<!-- POST AREA -->
				<div class="card row mb-4">
					<div class="col-md-6">
						<td th:text="${message.title}"/><br>
		  				<td th:text="${message.category}"/><br>
		  				<td th:text="${message.text}"/><br>
          				<p th:text="${#dates.format(message.updatedDate,'yyyy/MM/dd HH:mm')}"></p><br>
		    			<th:block th:each="user : ${users}">
			  				<th:block th:if="${user.id == message.userId}">
			    				<h5 th:text="${user.name}"></h5>
			    				<th:block th:if="${loginUser.id == message.userId}">
			    				  <form th:method="post" th:action="@{/delete/{id}(id=${message.id})}"class="mb-3">
			    				     <input type="submit" value="Delete" class="btn btn-dark">
			    				  </form>
			    				</th:block>
			  				</th:block>
						</th:block>
					</div>

					<!-- COMMENT AREA -->
					<div class="col-md-6">
						<form th:method="post"th:action="@{/doComment/{id}(id=${message.id})}" th:object="${formModel}" class="mb-3">
		    				<textarea name="text" cols="100" th:rows="5"th:wrap="hard" class="form-control mb-3" placeholder="Comment "required maxlength="500"></textarea>
		    				<input type="submit" value="doComment" class="btn btn-dark">
		  				</form>

		    			<th:block th:each="comment : ${comments}">
		      				<th:block th:if="${comment.messageId == message.id}">
			    				<td th:text="${comment.text}"/><br>
			    				<p th:text="${#dates.format(comment.updatedDate,'yyyy/MM/dd HH:mm')}"></p><br>
			      				<th:block th:each="user : ${users}">
			        				<th:block th:if="${user.id == comment.userId}">
			        					<h5 th:text="${user.name}"></h5>
			        				</th:block>
			    				</th:block>
		      				</th:block>
		   				</th:block>
					</div>
				</div>
			</th:block>
		</div>
	</main>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>