<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<title>Top</title>
</head>
<body>
	<header>
		<div class="text-center py-5">
			<span class="display-4">Log in <i class="fas fa-sign-in-alt small"></i></span>
		</div>
	</header>

	<main>
		<div class="container w-50 mx-auto my-3 p-5">
			<!-- Display Eroor -->
			<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
				<td th:text="${errorMessage}" />
			</div>

			<!-- Login Area -->
			<div class="mt-5 my-auto h-50">
				<div class=" w-75 mx-auto">
					<form th:action="@{/loginUser}" th:method="post" th:object="${formModel}">
						<input type="text" name="account" placeholder="Account" class="form-control mb-4"/>
						<input type="password" name="password" placeholder="Password" class="form-control mb-4"/>
						<input type="submit" value="Log in" class="btn btn-success form-control mb-3">
					</form>
				</div>
			</div>
		</div>
	</main>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>