<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<title>newPost</title>
</head>
<body>

    <nav class="navbar navbar-light bg-light">
    	<a href="./" class="navbar-brand text-dark">
    		<h1>KIHARA</h1>
    	</a>
    	<ul class="navbar-nav">
    		<li class="nav-item"><a href="/new" class="nav-link">newPost</a></li>
    		<li class="nav-item"><a href="#" class="nav-link">User</a></li>
    		<li class="nav-item"><a href="/logout" class="btn btn-outline-danger nav-link px-2">Log out</a></li>
    	</ul>
	</nav>

	<header class="text-center py-5">
		<h2 class="display-4"><i class="far fa-edit"></i> Add Post</h2>
	</header>

	<main class="container w-75 p-5">
        <tr th:if="${validationError}" th:each="error : ${validationError}">
            <li style="color: red;" th:text="${error}"></li>
        </tr>

		<form action="/doPost" method="post" th:object="${formModel}">
			<input type="text" name="title" class="form-control mb-4" placeholder="TITLE" maxlength="30" required/>
			<textarea name="text" cols="100" rows="5" wrap="hard" class="form-control mb-4" placeholder="TEXT" maxlength="1000" required></textarea>
			<input type="text" name="category"  class="form-control mb-4" placeholder="CATEGORY"  maxlength="10"/>
			<input type="submit" value="POST" class="btn btn-dark w-100 py-2">
		</form>
	</main>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>