<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<script th:src="@{/js/validation.js}"></script>
<title>Sign up</title>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
    	<a href="./" class="navbar-brand text-dark">
    		<h1>KIHARA</h1>
    	</a>
    	<ul class="navbar-nav">
    		<li class="nav-item"><a href="/new" class="nav-link">newPost</a></li>
    		<li class="nav-item"><a href="#" class="nav-link">User</a></li>
    		<li class="nav-item"><a href="/logout" class="btn btn-outline-danger nav-link px-2">Log out</a></li>
    	</ul>
	</nav>

	<header class="text-center py-5">
		<h2 class="display-4"><i class="fas fa-user-plus"></i> Sign Up</h2>
	</header>

	<main class="container w-75 -p-5">
	<!-- Display Eroor -->
		<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
			<td th:text="${errorMessage}" />
		</div>
        <tr th:if="${validationError}" th:each="error : ${validationError}">
            <li style="color: red;" th:text="${error}"></li>
        </tr>
		<form th:action="@{/signUpUser}" th:method="post" th:object="${formModel}">
			<input type="text" name="account" minlength="6" maxlength="20" class="form-control mb-3" placeholder="ACCOUNT"required/>
			<input type="password" name="password" minlength="6" maxlength="20" class="form-control mb-3" placeholder="PASSWORD"required/>
			<input type="text" name="name" id= "user" maxlength="10" class="form-control mb-3" placeholder="NAME"required/>


			<!-- Branch -->
			<select id="branchId" name="branchId" class="form-control mb-3"required>
				<option value="" hidden>BRANCH</option>
				<option  th:each="branch:${branches}" th:value="${branch.id}" th:selected="${branch.id == id}" th:inline="text" th:text="${branch.name}"></option>
			</select>
			<select  id="departmentId" name="branchId" class="form-control mb-3"required>
			    <option value=""  hidden>DEPARTMENT</option>
				<option  th:each="department:${departments}" th:text="${department.name}"  th:value="${department.id}" th:selected="${department.id == id}"></option>
			</select>

			<input type="submit" value="Sign up" class="btn btn-success w-100">
		</form>
	</main>



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>